* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	box-sizing: border-box;
}
body {
	
	font-family: "Helvetica Neue", sans-serif;
	background: rgba(141, 124, 98, 0.823);
    
    color: white;
    height: 840px;
    /* width: 500px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

	margin: 8vh auto;
	
	
}
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
  }
.calc {
	border-radius: 50px;
	/* border: 2px solid rgb(0, 4, 255); */
	padding: 25px;
	background: black
}
.screen {
	/* height: 20vh; */
	/* min-height: 150px; */
	height: 250px;
    width: 100%;
	background-color: rgb(0, 0, 0);
	/* border: 2px solid rgb(0, 4, 255); */
}
.container {
	/* border: 2px solid red; */
	/* border-radius:  0px 0px 50px 50px ; */
	
}
.button.number-0 {
	width: calc(50%);
	border-radius: 50px;
}

.row {
	display: flex;	
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    font-size: 45px;
    height: 100px;
    width: 100px;
    transition: filter 0.3s;

	margin: 5px;
}
.button:hover {
	opacity: 0.5;
}
.operatorTop {
	background-color: rgb(192, 192, 192);
	color: black;
}
.operatorRight {
	background-color: rgb(255, 157, 72);
	color: white;
}

@media only screen and (max-width: 490px) {
	.button {
		height: 70px;
    	width: 70px;
		font-size: 25px;
		margin: 3px;
	}
	.screen {
		height: 120px;
}