/* https://flex-grid-cw.netlify.app/ */
* {
	margin: 0;
	box-sizing: border-box;
	padding: 0rem;
	text-align: center;
	color: black 
	/* white; */
	font-size: 1rem;
	/* background-color: red; */
}

.container {
	border: 2px solid red;
	width: 100%;
}
.row {
	display: flex;
	flex-wrap: wrap;
  }


  .col-3 {
	width: 25%;
  }
  
  .col-4 {
	width: 33.333333%;
  }
  
  
  .col-6 {
	width: 50%;
  }

  
  .col-8 {
	width: 66.666667%;
  }
  
  .col-12 {
	width: 100%;
  }
  .logo {
	background-color: aquamarine;
	padding: 1rem;
  }
  .menu {
	background-color: lightskyblue;
	padding: 1rem;
  }
  .banner {
	padding: 4rem;
	background-color: red;
  }

.bol1,
.bol2,
.bol3 {
  background-color: greenyellow;
  height: calc(100vh - 330px);
  border: 1px solid grey;
}

.bol4,
.bol5,
.bol6 {
  background-color: tomato;
  padding: 1rem;
  border: 1px solid grey;
}
.footer {
	background-color: violet;
	padding: 2rem;
  }